<div class="container">
    <h1 class="text-center">Login</h1>
        <form #f="ngForm" (ngSubmit)="logar(f.value)">
            <label class="form-label">Informe email</label>
            <input class="form-control" name="email" ngModel/>

            <label class="form-label">Informe senha</label>
            <input class="form-control" name="senha" ngModel/>

            <div class="mt-2 d-flex justify-content-between">
                <button class="btn btn-primary">Logar</button>
                <button class="btn btn-danger">Cancelar</button>
            </div>
        </form>
</div>